.main-content {
  display: inline-block;
  padding: 20px 50px 10px 50px;
}
.main-content .grid-wrapper {
  margin-top: 40px;
}
.main-content .grid-wrapper .row-wrapper {
  display: inline-block;
  min-height: 30px;
  width: auto;
  border-bottom: solid;
  border-left: solid;
  border-right: solid;
  border-width: 1px;
  border-color: black;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.main-content .grid-wrapper .row-wrapper .cell-wrapper {
  min-height: 40px;
  display: inline-block;
  /*margin: 2px;*/
  padding: 2px;
  border-right: 1px;
  border-color: black;
  border-right-style: dotted;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: auto;
  vertical-align: top;
  text-align: center;
  white-space: nowrap;
  /*.blank-cell {
                    height: 30px;
                }*/
}
.main-content .grid-wrapper .row-wrapper .cell-wrapper .cell {
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}
.main-content .grid-wrapper .row-wrapper .cell-wrapper .select-cell {
  width: 20px;
  height: 20px;
  /*border: solid;*/
  display: inline-block;
}
.main-content .grid-wrapper .row-wrapper .cell-wrapper .crud-cell {
  width: 20px;
  height: 20px;
  /*border: solid;*/
  display: inline-block;
}
.main-content .grid-wrapper .row-wrapper .cell-wrapper .narr-cell {
  width: 20px;
  height: 20px;
  /*border: solid;*/
  display: inline-block;
}
.main-content .grid-wrapper .row-wrapper .cell-wrapper .postit-cell {
  width: 20px;
  height: 20px;
  /*border: solid;*/
  display: inline-block;
}
.main-content .grid-wrapper .row-wrapper .cell-wrapper .data-cell input {
  width: 100px;
}
.main-content .grid-wrapper .row-wrapper .cell-wrapper .cell-1x {
  width: 150px;
}
.main-content .grid-wrapper .row-wrapper .cell-wrapper .cell-2x {
  width: 300px;
}
.main-content .grid-wrapper .row-wrapper .cell-wrapper .cell-3x {
  width: 450px;
}
.main-content .grid-wrapper .row-wrapper .cell-wrapper :before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}
.main-content .grid-wrapper .row-wrapper .cell-wrapper:last-child {
  border-right: none;
}
.main-content .grid-wrapper .row-wrapper:first-child {
  border: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px 5px 0 0;
}
.main-content .grid-wrapper .row-wrapper:last-child {
  border-radius: 0 0 5px 5px;
}
.main-content .grid-wrapper .header-row {
  /*height: 35px;*/
  width: auto;
  background-color: rgba(191, 191, 191, 0.38);
  font-size: large;
}
.main-content .grid-wrapper .data-row {
  background-color: #bfbfbf;
}
.main-content .grid-wrapper .total-row {
  background-color: #ffff99;
}