@using Newtonsoft.Json
@model ExhibitGrid.ViewModel.ExhibitVm

@Scripts.Render("~/bundles/exhibit")
@Styles.Render("~/Content/css/exhibit")


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <input type="button" class="k-button" value="Save" style="width:100px"/>
    </div>
</div>
<br/>
<br/>
<div id="Exhibit-Content" ng-app="app.main">
    @{
        foreach (var grid in Model.Grids.Where(g => g.IsRendered))
        {
            Html.RenderPartial("_ExhibitGridPartial", grid);
            <br/>
            <br/>
        }
    }
</div>

<script>
    
    (function (gridModel) {
        gridModel.exhibit = @Html.Raw(JsonConvert.SerializeObject(Model));
    }(window.gridModel = window.gridModel || {} ));

</script>
