
@{
    ViewBag.Title = "RoutingTest";
}

<script src="~/Scripts/Modules/routingTest.js"></script>

<div ng-app="routing">

    <a href="#routeA">Route A</a>
    <a href="#routeB">Route B</a>


    <div ng-view></div>

</div>

